.document-icon{
    font-size: 4rem;
    position: relative;
}

.document{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}   

.document-icons{
    background-color: rgb(194, 194, 194); 
    border-radius: 2rem;
    padding: 2rem;
    transition: all .2s ease-in-out;
    display: block;
}

.document-icons:hover{
    background-color: rgb(151, 151, 151);
    color: white;
    transform: scale(1.1);
}

.document-icons:hover .document{
    opacity: 0.3;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  border-radius: 2rem;
  background-color: rgb(37, 37, 37);
  font-weight: bold;
}

.document-icons:hover .overlay {
    opacity: 0.5;
}

.download, .remove{
    font-size: 2rem;
}

.download:hover{
    color: rgb(6, 194, 0);
}

.remove:hover{
    color: rgb(230, 61, 61);
}

.alert-promt{
    width: 20%;
    position: fixed!important;
    right: 3rem;
    bottom: 3rem;
    z-index: 12;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 1rem;
    border-radius: 1rem!important;
}

.fa-check-circle{
    color: green;
}

.grid-container {

    display: grid;
    grid-template-columns: 0.8fr 1.8fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . .";
      height: 100%;
      width: 100%;

}

section{
    height: 100%;
    width: 100%;
}

.top-bar-end{
    height: 100%;
    width: 10%;
}


ion-icon{
    font-size: 1rem;
    color: white;
}

.neu-effect{
    border-radius: 0.8rem;
    background: #ffffff;
    box-shadow:  6px 6px 12px #cfcfcf,
                 -6px -6px 12px #ffffff;
}

.neu-effect-inset{
    border-radius: 0.8rem;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  6px 6px 12px #dedede,
             -6px -6px 12px #ffffff;

}

.animation{
    transition: all .2s ease-in-out;
}

.animation:hover{
    transform: scale(1.06);
}


#wrapper {
  width: 100%;
  overflow: hidden;
}
  
#sidebar-wrapper {
  height: 100vh;
  margin-left: -21rem; /*? */
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidenavs{
  height: 63%;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: transparent !important;
}

::-webkit-scrollbar-thumb{
  background: #bbb;
  border-radius: 10px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
  width: 20rem; /*? */
}
  
#page-content-wrapper {
  min-width: 100vw;
}
  
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item-action:hover{
  background-color: red!important;
}
  
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -20.5rem; /*? */
  }
}

#menu-toggle{
  font-size: 1.5rem; 
  color: black
}
#menu-toggle:hover{
  color: blue;
}

.glowing-border {
  border: 2px solid rgb(36, 179, 0);
  font-weight: bold;
}

.overlay{
  position: absolute;
  top: 10.5vh;
  left: 0.4%;
}

.wrapper:hover .overlay{
  background-color: rgba(187, 187, 187, 0.281);
  color: white;
  opacity: 1;
}


.message-action{
  opacity: 0;
}

.message-item:hover .message-action{

  opacity: 1;

}

@media only screen and (min-height: 576px){
  .sidenavs{
    height: 100%;
    overflow-y: scroll;
  }

}

.stack-top{
  height: 100%;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  opacity: 1;
  background: rgba(39, 42, 43, 0.52);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
}

.stack-top-list{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  opacity: 1;
  background: rgba(39, 42, 43, 0.52);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
}

